@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Arneson';
	src: url("/Arneson.ttf");
}


@font-face {
	font-family: 'FindersKeepers';
	src: url("/FindersKeepers.ttf");
}

:root {
	font-family: Arneson, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: dark;
	color: white;
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.finders-keepers {
	font-family: FindersKeepers;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	@apply bg-gray-400/5;
}

::-webkit-scrollbar-thumb {
	@apply bg-blue-200/15;
}

::-moz-selection {
	color: white;
	@apply bg-blue-200/80;
}

::selection {
	color: white;
	@apply bg-blue-200/80;
}

.button:not(:disabled) {
	@apply cursor-pointer;
	@apply active:opacity-60;
	@apply select-none;
}

.controller {
	--widget-height: 15px;
}

.border {
	@apply border-neutral-700;
}

input {
	outline: none;
	margin: 0;
	@apply border;
	@apply border-neutral-700;
	@apply bg-black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}